/* add your CSS here */


	

.full_card_container  {
 
 
 border-style:solid;
 border-width:thin;
 border-color:lightgrey;
 padding:2px;
 box-shadow: 5px 10px lightgrey;
position:absolute;
 width:200px;
 margin-left:38%;
 margin-top:0;
 background-color:white;
 
  }
  
  
  

.bottomcontainer  {
 
 
 box-shadow:lightgrey;
 border-style:solid;
 border-width:thin;
 border-color:lightgrey;
 }

h3.about_me{
padding: 2px; 

}

image{ 
padding: 2px;
}

p.about_me{
  
font-style:italic; 
padding: 1px;
}

span.about_me_labels{
 font-weight:bold;
  }

ul.about_me_definitions{
 padding:0;
 margin:0;
 list-style:none;
 }
 
 
 
